[oauth]
client_id = my-client-id
client_secret = my-secret-key
authorization_url = https://oauth.sandbox.trainingpeaks.com/OAuth/Authorize
token_url = https://oauth.sandbox.trainingpeaks.com/OAuth/Token
scopes = coach:athletes

[server]
local_port = 8080

[public_api]
list_athletes_endpoint = https://api.sandbox.trainingpeaks.com/v1/coach/athletes